SESSION_SECRET=cambia-esta-clave-en-produccion

PORT=[ej. 5000]
NODE_ENV=[ej. production | development]
API_KEY=[ApiKey]
DATABASE_URL=[link de conexión a la base de datos]
DB_USER=[ej. postgres]
DB_HOST=[ej. localhost]
DB_DATABASE=[ej. MiBaseDeDatos]
DB_PASSWORD=[ej. admin123]
DB_PORT=[ej. 5432]
DB_MAX=[ej. 20]
DB_IDLE_TIMEOUT=[ej. 30000]
DB_CONN_TIMEOUT=[ej. 2000]
DB_SSL=[ej. true | false]
